img {
    display: block;
    margin:auto;
    height: 250px;
    width: 400px;
}

body {
    text-align: center;
    font-size: 75;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkgreen;
    border: 35px solid green;
    -webkit-text-stroke: 1.5px;
    -webkit-text-stroke-color: black;
    margin: 0;
    border-top: 0;
    border-bottom: 0;
}

.box {
    width: 1500px;
    height: 950px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    left: 50%;
    margin-left: 460px;
    background-color: lightgray;
    border: 10px solid black;
}

.box div {
    top: 50%;
    margin-top: 500px;
    font-size: 30px;
    color: black;
    border: none;
    text-align: left;
    top: 50%;
    margin-top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    font-size: 60px;
    text-shadow: 5px 4px black;
}

.walter {
    position: absolute;
    top: 600px;
    left: 70px;
    border: 5px solid black;
}

.jesse {
    position: absolute;
    top: 1100px;
    left: 68px;
    border: 5px solid black;
}

.saul {
    position: absolute;
    top: 600px
    right: 75px;
}